.workout-card {
  border: 0.5rem solid rgb(0, 0, 0);
  display: flex;
  min-height: 4rem;
  width: 44rem;
  margin: 1.5rem;
  background-image: linear-gradient(
    to top left,
    black,
    rgb(255, 255, 255),
    black
  );
  transition-duration: 0.02s;
  transform-origin: 50% 50%;
  position: relative;
}

.workout-box {
  height: 0.001rem;
  width: 0.001rem;
}

.workouts-text {
  /* border: 0.5rem solid rgb(247, 0, 255); */
  font-size: 4rem;
  display: flex;
  justify-content: space-around;

  /* min-width: 40.6rem; */
  /* padding-top: 0.6rem;
  padding-left: 1.4rem; */
}
.workouts-label {
  /* border: 0.5rem solid rgb(0, 0, 0); */
  display: flex;
  flex-flow: column;
  height: 6rem;
  width: 100%;
  cursor: pointer;
}
.workouts-label:before {
  background-color: rgb(245, 100, 27);
  color: rgb(0, 242, 255);
  content: " ";
  display: block;
  border-radius: 50%;
  border: 0.21rem solid black;

  position: absolute;
  top: -2.3rem;
  left: -2.1rem;
  width: 3.8rem;
  height: 3.8rem;
  text-align: center;
  line-height: 3.4rem;
  font-size: 3.8rem;
  transition-duration: 0.04s;
  transform: scale(0);
}
:checked + .workouts-label {
  background-image: linear-gradient(
    to bottom left,

    rgb(245, 100, 27),
    black,
    rgb(0, 102, 255),
    black
  );
  color: rgb(0, 255, 229);
  height: 6rem;
}

:checked + .workout-card:before {
  content: "✓";

  background-color: black;
  transform: scale(1);
}

:checked + .workout-card {
  transform: scale(0.9);
  box-shadow: 0 0 2rem rgb(234, 82, 0);
  z-index: -1;
}
