.card-set {
  border: 0.5rem solid rgb(255, 0, 0);
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  height: 16rem;

  .card-container {
    border: 0.5rem solid black;
    background-color: orange;
    h2 {
      width: 32rem;
      border: solid 0.2rem blue;
      font-size: 4rem;
    }
  }
}
