.cart-div {
  border: solid 0.5rem cyan;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  height: 8rem;
  padding: 0.5rem;

  .cart-contents {
    border: solid 0.5rem rgb(0, 255, 8);

    height: 6rem;
    width: 95%;
    font-size: 4rem;
    text-overflow: clip;
  }
}
